{% extends 'Store/base.html' %}
{% load static %}
   {% block estilos %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Aboutus.css' %}"/>
    {% endblock %}
{% block content%}
<H1>HOLA BOOKREADERS!</H1>
<p>Nosotros somos BookStore, una pagina pequeña creada por nobles desarrolladores, nuestra intención es servir como mediadores para que tu, obtengas los mejores Titulos en la palma de tu mano
con total comodidad, basicamente nuestro proposito es facilitar tu vida a la hora de comprar tus libros favoritos y de tendencia actual,
sin embargo estamos abiertos a sugerencias y comentarios para ampliar nuestros horizontes. </p>
<p>Ten en cuenta que aun somos un equipo pequeño, pero eso no nos impide ofrecerte el mejor servicio posible. </p>
{% endblock %}