{% extends 'Store/base.html' %}
{% load static%}


{% block estilos%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/Pedido.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/modalbox.css' %}"/>
{% block estilos_per%}
{% endblock %}
{% endblock %}


{% block content%}
   <div class="modal-body">
       <!--Modal body code-->
        <div class="book-container">
      <div class="book" style="background-image: url('{{Libro.Portada.url}}{%block image%}{%endblock%}');">
          {% block stock %}
          {%endblock%}
      </div>
    <div class="informacion">
    {% block informacion %}

        {%endblock%}
        </div>



    <div class="fixbookcontainer"></div>
</div>
</div>


{% endblock %}

{% block scripts%}
<script src="{% static 'js/Pedido.js' %}"></script>
<script>

    set_ref("{{REFERENCE}}")
    set_price({{Libro.Precio}})
    set_attributes()
    set_total()

</script>

{% endblock%}
