{% extends 'Store/About_us.html' %}
{% load static %}
   {% block estilos %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Aboutus.css' %}"/>
<style>
    section p{
    margin-left:20px;
    margin-right:20px;
    }
</style>
    {% endblock %}

{% block content%}
<H1>¿Cómo Contactarnos?</H1>
<p>Para ofrecerte el mejor servicio y escucharte ponemos a tu servicio el siguiente correo, estamos deseosos de recibir
tus comentarios, quejas y sugerencias para mejorar nuestros servicios, estamos a tu disposición</p>
<p>Claro que tambien deseamos cobrarte, así que si recibes nuestros correos no te nos escondas y marques como spam :v. </br>Dejando de lado el Charcarrillo nuestro
    correo es: bookstore200419@gmail.com</p>
{% endblock %}