<header>
    <a href="#" class="logo">Logo</a>

           <div class="search-bar-div">Search bar</div>
    <div class="menu-toggle"></div>
       <nav>
        <ul class="principal-menu">
            <li><a href="#" class="Active">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Login</a></li>
        </ul>
       </nav>
    <div class="clearfix"></div>
</header>
<!--Basado en: https://www.youtube.com/watch?v=kEt5DCHeyJo&t=541s-->