body{
background-color:#d2ecf8;
}

section{
margin-top:1em;
float:left;
background-color:pink;
width:80%;
height:80%;
}

navbar{
margin:auto;
}

footer{
background-color:;
margin-top:1em;
padding: 1.2em 0;
}

aside{
margin-top:1em;
float:right;
width:20%;
height:90%;
background-color:red;
}

