
header{
position:relative;
max-width:100%;
background-color: #fff;
box-sizing:border-box;
border-radius:4px;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.logo{
color:#069370;
height:50px;
font-size:36px;
line-height:60px;
padding:0 20px;
background-color:;
box-sizing:border-box;
float:left;
font-weight:700;
text-decoration:none;

}

.search-bar-div{
color:#069370;
height:50px;
width:40%;
font-size:36px;
line-height:60px;
padding:0 20px;
background-color:red;
box-sizing:border-box;
float:left;
font-weight:700;
text-decoration:none;

}

nav{
float:right;
}
.clearfix{
clear:both;
}

nav .principal-menu{
margin:0;
padding:0;
display:flex;
}

nav .principal-menu li{
list-style:none;
}

nav .principal-menu li a{
display:block;
margin:10px 0;
padding:10px 20px;
text-decoration:none;
color:#262626;
}

nav .principal-menu li a.Active, nav .principal-menu li a:hover {
background:#069370;
color:#fff;
transition:0.5s;
}

@media(max-width:969px){
.menu-toggle{
display:block;
width:40px;
height:40px;
margin:10px;
float:right;
cursor:pointer;
text-align:center;
font-size:30px;
color:#069370;
}

.menu-toggle:before{
content:"\f0c9";
font-family:fontAwesome;
line-height:40px;

}

.menu-toggle.Active:before{
content:"\f00d";
}

nav{
display:none;
}

nav.Active{
display:block;
width:100%
}

nav.Active .principal-menu{

display:block
}

nav.Active .principal-menu li a{
margin:0;
}

}