.User_Data{
margin-left:0.5em;
margin-bottom:0.5em;
margin-top:0.5em;
border:1px solid #d4e3eb;
float:left;
}

.User_Data p{
margin-left:1em;
}

.text{
margin-left:-3em;
background-color:#f0f5f7;
text-align:center;
width:90%;
}

.Buy{
background-color:#f0f5f7;
margin-top:7.5em;
margin-left:0.5em;
padding:10px 10px;
font-weight:bold;
width:45%;
margin-bottom:0.5em;

}

@media (min-width:370px) and (max-width:912px){

.Buy{
float:left;
margin-top:1.2em;
margin-right:0.5em;
}

.Buy{
width:90%;
}

.User_Data{
float:left;
width:95%;
}



}




@media (max-width:370px){

.Buy{
float:left;
margin-top:1.2em;
margin-left:0.2em;
margin-right:0.5em;
}

.Buy{
width:90%;
}

.User_Data{
float:left;
width:95%;
}



}


